<div class="container mx-3">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input
          #providedLengthInput
          class="input"
          (input)="onChangeLength(providedLengthInput.value)"
          [value]="getLength()"
        />
      </div>

      <div class="field">
        <div class="control is-flex is-justify-content-space-between">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
          <div>
            <label class="ml-5 mr-3 is-size-6">Limit amount:</label>
            <input
              #limitLettersInput
              type="number"
              min="0"
              [max]="initialProvidedLength/2"
              [disabled]="!useLetters"
              [value]="limitLetters"
              (change)="onLimitLettersChange(limitLettersInput.value)"
            />
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-flex is-justify-content-space-between">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
          <div>
            <label class="ml-5 mr-3 is-size-6">Limit amount:</label>
            <input
              #limitNumbersInput
              type="number"
              min="0"
              [max]="initialProvidedLength/2"
              [disabled]="!useNumbers"
              [value]="limitNumbers"
              (change)="onLimitNumbersChange(limitNumbersInput.value)"
            />
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-flex is-justify-content-space-between">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
          <div>
            <label class="ml-5 mr-3 is-size-6">Limit amount:</label>
            <input
              #limitSymbolsInput
              type="number"
              min="0"
              [max]="initialProvidedLength/2"
              [disabled]="!useSymbols"
              [value]="limitSymbols"
              (change)="onLimitSymbolsChange(limitSymbolsInput.value)"
            />
          </div>
        </div>
      </div>

      <button [disabled]="
          !(getLength() && (useLetters || useNumbers || useSymbols))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
