<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input
    #providedLengthInput
    (input)="onChangeLength(providedLengthInput.value)"
  />
</div>

<div>
  <label>Use Letters</label>
  <input
    (change)="onChangeUseLetters()"
    type="checkbox"
  >
</div>
<div>
  <label>Use Numbers</label>
  <input
    (change)="onChangeUseNumbers()"
    type="checkbox"
  >
</div>
<div>
  <label>Use Symbols</label>
  <input
    (change)="onChangeUseSymbols()"
    type="checkbox"
  >
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="!(providedLength && (useLetters || useNumbers || useSymbols))"
  >Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="getPassword()" />
</div>
